.container {
    height: 100%;
    padding-bottom: 2rem;
}

.header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 7rem;
    position: relative;
}

.body {
    height: 100%;
    padding-bottom: 2rem;
}

.tab {
    height: 100%;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem 1rem 2rem;
    position: relative;
    /* Needed for the profile image to overlap */
}

.profile_name {
    h1 {
        color: black;
    }

    p {
        color: var(--secondary-background);
        font-size: 1.4rem;
    }
}

.resume {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: var(--btn-extra);
    color: var(--primary-color);
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.data_input {
    padding: 1rem 2rem;
}

.social {
    padding: 1rem 2rem;


    div {
        display: flex;
        justify-content: space-between;

        .social_contact {
            display: flex;
            list-style: none;
            gap: 1rem;
        }

        .social_links {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 1rem;

            li {
                border: 1px solid var(--secondary-background-color);
                background-color: var(--secondary-color);
                display: flex;
                padding: 0.5rem;
                cursor: pointer;
                transition: transform 0.3s ease;
                /* Smooth animation */
            }

            li:hover {
                transform: scale3d(1.1, 1.1, 1);
                /* Slightly enlarge on hover */
            }
        }
    }

    p {
        margin-top: 1rem;
        font-weight: 500;
    }
}

.profile_img {
    height: 7rem;
    width: 7rem;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 1;
}



/* tab */
.edit_btns {
    text-align: center;
}