@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

/* Define color variables for the "Classic & Professional" palette */
:root {
  --primary-color:  #FFFFFF; 
  --secondary-color: #F3F4F6; 
  --primary-background-color: #FFFFFF; 
  --secondary-background-color:  #F3F4F6;
  --primary-text: black;
  --secondary-text: #6D7482; /* Dark Gray */
  --accent-color: #ffc107; /* Golden Yellow */;
  --btn-extra:black
}

/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base font settings */
body {
  font-family: 'Hind Siliguri', 'Roboto', 'Ubuntu', Georgia, 'Times New Roman', Times, serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text);
}

/* Example styles for headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text);
}

/* Link styles */
a {
  text-decoration: none;
  color: black;
}

/* Utility classes */
.text-secondary {
  color: var(--secondary-text);
}

.bg-primary {
  background-color: var(--primary-color);
}

/* Add more styles as needed */


.data_input
{
    padding: 1rem 2rem;
}
.add_btn
{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    background-color: var( --secondary-text);
    color: var(--primary-color);
}
.add_btn:hover
{
  
    background-color:var(--primary-color);
    color:  var( --secondary-text);
    border: 1px solid var(--secondary-text);
}